/* Variables */
:root {
    --primary-color: #4CAF50;
    --secondary-color: #2196F3;
    --text-color: black;
    --background-color: rgba(255, 255, 255, 0.6);
    --border-radius: 5px;
}

/* Reset */
body,
h1,
h2,
h3,
p,
ul,
li,
form,
input,
select,
button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* Body */
body {
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* Imagens de fundo */
body.form1-bg {
    background-image: url("../img/inspeção01.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-blend-mode: multiply;
}

body.form2-bg {
    background-image: url("../img/inspeção02.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-blend-mode: multiply;
}

body.form3-bg {
    background-image: url("../img/inspeção03.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-blend-mode: multiply;
}


/* Container */
.container {
    max-width: 800px;
    width: 95%;
    margin: 20px auto;
    padding: 20px;
    background-color: var(--background-color);
    border-radius: var(--border-radius);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Header */
.header {
    margin-bottom: 10px;
}

.app-title {
    color: var(--text-color);
    font-weight: bold;
    display: flex;
    align-items: center;
}

.logo-container {
    margin-right: 20px;
}

.logo {
    max-width: 100px;
    max-height: 50px;
    margin-bottom: 0;
}

/* Main */
.main-content {
    padding-bottom: 20px;
}

/* Forms */
.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
}

.form-group label {
    margin-right: 10px;
    width: 150px;
    text-align: right;
}

.form-group input,
.form-group select {
    flex-grow: 1;
    padding: 10px;
    border-radius: var(--border-radius);
    border: 1px solid var(--text-color);
    background-color: rgba(255, 255, 255, 0.8);
    color: var(--text-color);
    box-sizing: border-box;
    max-width: 400px;
}

/* Inputs Container */
.inputs-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

/* Section Titles */
.section-title {
    font-weight: bold;
    margin: 10px 0;
    width: 100%;
    text-align: left;
}

/* Table */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px auto;
    box-sizing: border-box;
    border: 1px solid var(--text-color);
}

th,
td {
    border: 1px solid var(--text-color);
    padding: 8px;
    text-align: left;
    box-sizing: border-box;
}

th {
    background-color: #8B0000;
    color: white;
}

/* Buttons */
.btn {
    padding: 10px 20px;
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    margin-top: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

.btn-print {
    display: none;
    background-color: var(--primary-color);
    color: white;
}

#btn-voltar {
    margin-bottom: 20px;
    background-color: var(--primary-color);
    color: white;
}

#btn-compare {
    background-color: var(--secondary-color);
    color: white;
}

/* Image */
.motor-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Text Colors */
.black-text {
    color: var(--text-color);
}

/* Status Container */
.status-container {
    margin-top: 20px;
}

.status-item {
    margin-bottom: 10px;
}

/* Footer */
.footer {
    text-align: center;
    margin-top: 20px;
    font-size: 0.8em;
}

/* Results Container */
.results-container {
    text-align: center;
}

.results-container h2 {
    display: block;
    margin-bottom: 20px;
}

/* Top Info */
.top-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.top-info p {
    margin: 0;
}

/* Motor Info */
.motor-info {
    margin-bottom: 20px;
}

.motor-info p {
    margin: 5px 0;
}

/* Print Logo */
.print-logo {
    max-width: 50px;
    max-height: 25px;
    margin-right: 10px;
}

/* Alert Message */
.alerta {
    background-color: #ffcccc;
    border: 1px solid #ff9999;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
}

/* Media Queries (Responsiveness) */
@media (max-width: 600px) {
    .form-group {
        flex-direction: column;
        align-items: flex-start;
    }

    .form-group label {
        text-align: left;
        margin-bottom: 5px;
        width: auto;
    }

    .form-group input,
    .form-group select {
        max-width: 100%;
    }
}

/* Print Styles */
@media print {
    body {
        background: none !important;
        /* Remove o background principal */
        color: black !important;
    }

    .container {
        background: none !important;
        /* Remove o background do container */
        box-shadow: none !important;
        /* Remove a sombra */
    }

    .results-container {
        position: relative;
    }

    .results-container::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: url("../img/inspeção.png");
        background-size: cover;
        background-repeat: no-repeat;
        opacity: 0.2;
        z-index: -1;
    }

    .header,
    .main-content,
    .footer {
        padding: 0;
    }
}